---
---

// Misc.
	$misc: (
		z-index-base:		10000
	);

// Duration.
	$duration: (
		nav:				0.5s,
		transition:			0.2s
	);

// Size.
	$size: (
		border-radius:		8px,
		element-height:		2.75em,
		element-margin:		2em
	);

// Font.
	$font: (
		family:				('Raleway', Helvetica, sans-serif),
		family-fixed:		('Courier New', monospace),
		family-heading:		('Montserrat', sans-serif),
		weight:				300,
		weight-bold:		500,
		weight-heading:		700,
		letter-spacing:		0.05em,
		letter-spacing-alt:	0.25em
	);

// Palette.
    {% assign palette = site.palettes[site.palette].sass %}
	$palette: (
		bg:					#f4f4f4,
		bg-alt:				#ffffff,
		fg:					#444,
		fg-bold:			#555,
		fg-light:			#bbb,
		border:				#cccccc,
		border-bg:			rgba(144,144,144,0.075),
		accent:				{{ palette.accent }}
	);

@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/vendor';
@import 'libs/breakpoints';
@import 'font-awesome.min.css';
@import url('https://fonts.googleapis.com/css?family=Raleway|Montserrat:700');

/*
	Indivisible by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
*/

// Breakpoints.

	@include breakpoints((
		xlarge:   ( 1281px,  1680px ),
		large:    ( 981px,   1280px ),
		medium:   ( 737px,   980px  ),
		small:    ( 481px,   736px  ),
		xsmall:   ( 361px,   480px  ),
		xxsmall:  ( null,    360px  )
	));

// Base.

	@import 'base/reset';
	@import 'base/page';
	@import 'base/typography';

// Component.

	@import 'components/section';
	@import 'components/form';
	@import 'components/box';
	@import 'components/icon';
	@import 'components/image';
	@import 'components/list';
	@import 'components/actions';
	@import 'components/icons';
	@import 'components/table';
	@import 'components/button';

// Layout.

	@import 'layout/wrapper';
	@import 'layout/panel';
	@import 'layout/footer';
